.container {
	background: #f9f9f9;
	padding: 20px 2% 20px 17%;
}

.container--large {
	padding: 20px 2% 20px 7%;
}

@media (max-width: 900px) {
	.container,
	.container--large {
		padding-left: 2%;
	}
}
