.sidebar {
	background: #fff;
	width: 15%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	padding: 80px 0 0 2%;
	overflow-y: auto;
}

.sidebar--sm {
	width: 5%;
}

.sidebar--sm .sidebar__item span,
.sidebar__list h3 {
	display: none;
}

.sidebar.sidebar--sm hr {
	width: 50%;
}

.sidebar__nav img {
	width: 20px;
	margin: 0 20px 0 0;
	padding: 2px 0;
	transition: border 0.3s;
	border-bottom: 2px solid transparent;
}

.sidebar__item {
	background: transparent;
	border: none;
	display: flex;
	align-items: center;
	width: fit-content;
	flex-wrap: wrap;
	cursor: pointer;
	list-style-type: none;
}
.sidebar__item:not(:last-child) {
	margin: 0 0 20px;
}

.sidebar hr {
	border: none;
	height: 1px;
	background-color: #ccc;
	width: 85%;
	margin: 25px 0;
}

.sidebar__list h3 {
	font-size: 13px;
	margin: 0 0 20px;
	color: #5a5a5a;
}

.sidebar__list img {
	width: 25px;
	margin: 0 20px 0 0;
	border-radius: 50%;
}

.sidebar__item.active img {
	border-color: red;
}
