.recommended {
	flex-basis: 30%;
}

.recommended__item {
	display: flex;
	justify-content: space-between;
	margin: 0 0 8px;
}

.recommended__item img {
	flex-basis: 49%;
	width: 50%;
}

.recommended__item-info {
	flex-basis: 49%;
}

.recommended__item-info h4 {
	font-size: 13px;
	margin: 0 0 5px;
}
